<div class='container' data-section='magazin_grid'>
	<div class='row'>

		<div class='col-12 col-md-6 col-lg-3' *ngFor='let article of articleList$ | async'>
			<a data-section='article' [routerLink]="['/detail/' + article.slug]">
				<div *ngIf="article.thumbnail.url" data-field="featured_image" [ngStyle]="{'background-image': 'url(' + article.thumbnail.url + ')'}"><div class='inner'></div></div>

				<h5 data-field="title">{{article.title}}</h5>
				<p data-field="excerpt">{{article.excerpt}}</p>
			</a>
		</div>

	</div>
</div>