[data-section="magazin_grid"] {

	[data-section='article'] {
		position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 10px;
        color: inherit;

        &:hover {
        	text-decoration: none;

        	[data-field="featured_image"] {
				-webkit-filter: grayscale(0%);
				filter: grayscale(0%);
        	}
        }

        [data-field="featured_image"] {
		    position: relative;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;

		    -webkit-filter: grayscale(100%);
  			filter: grayscale(100%);

		    transition: filter .5s ease-in-out;

		    &:before {
			    display: block;
			    content: "";
			    width: 100%;
			    padding-top: calc(((9 / 16) * 100% + 0px));
			}
		}

		[data-field="title"], [data-field="excerpt"] {
			margin-top: 10px;
		}
	}

}