/*Bootstrap*/
@import '~node_modules/bootstrap/scss/bootstrap';

$space: 10px;

html, body {
    height:100%;
}

#wrapper {
    position: relative;
    min-height:100%;

    header {
		margin-bottom: $space * 2;
		text-align: center;
	    background-color: #37454d;

	    [data-field="logo"] {
			display: inline-block;
		    margin-top: $space * 2;
		    margin-bottom: $space * 2;
		    text-transform: uppercase;
		    font-weight: bold;
		    color: springgreen;

		    &:hover {
		    	text-decoration: none;
		    	color: springgreen;
		    }
		}
	}

	footer {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: $space * 4;
	    padding: $space;

	    text-align: center;
	    background-color: #37454d;
	    color: white;
	    font-size: 80%;
	}

	main { padding-bottom: $space * 4; }
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}
