[data-section="article_details"] {
	[data-field="featured_image"] { margin-bottom: 10px; }

	[data-field="rating"] {
		color: red;
		span {font-weight: bold;}
	}

	[data-field="form_container"] {
		margin-bottom: 20px;

		.form_message {
			&.success { color: green; }
		}
	}
}