<div class='container' data-section='article_details'>
	<div class='row'>

		<div class='col-12'>

			<!-- Featured image -->
			<div data-field="featured_image">
				<img *ngIf="article?.thumbnail.url" [src]="article?.thumbnail.url" [alt]="article?.thumbnail.alt">
			</div>

			<!-- Title -->
			<h4 data-field="title">{{article?.title}}</h4>

			<!-- Rating -->
			<div data-field="rating" *ngIf="rating > 0">
				<span>Rating:</span> {{ rating }}
			</div>

			<!-- Content -->
			<ng-container data-field="description" *ngFor='let content of article?.content'>
				<div *ngIf="content.type == 'intro_text'" [innerHTML]="content.text"></div>
			</ng-container>

			<!-- Form container -->
			<div data-field="form_container">
				<!-- Success message -->
				<div *ngIf="successfulFormSubmission" class='form_message success'>
		            Your rating is successfully added
		        </div>

		        <!-- Form -->
				<ng-container *ngIf="!successfulFormSubmission && showForm">
					<form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">

		                <!-- Rating -->
		                <div class="form-group">
							<label>Give your rating</label>
							<input type="number" formControlName="rating" name="rating" min="1" max="5" class="form-control">
		                    <div *ngIf="ratingForm.controls.rating.errors?.required && ratingForm.controls.rating.touched">Rating is required</div>
		                    <div *ngIf="ratingForm.controls.rating.errors?.max || ratingForm.controls.rating.errors?.min">Please enter a value between 1 and 5</div>
						</div>

						<!-- Submit -->
						<button type="submit" class="btn btn-primary">Submit</button>

				    </form>
				</ng-container>
			</div>
		</div>

	</div>
</div>