<div id="wrapper">
	
	<!-- Desktop header -->
	<header id='main_header'>
		<div class='container'><div class='row'><div class='col'>
			<a routerLink="/" data-field="logo">Trivago magazine</a>
		</div></div></div>
	</header>

	<!-- Content -->
	<main id="main_content" role="main">
	 	<router-outlet></router-outlet>
	</main>

	  <!-- Footer -->
	<footer id='main_footer'>
		<div class='container'><div class='row'><div class='col'>
			<span data-field="copyright">@Copyright 2019 text</span>
		</div></div></div>
	</footer>

</div>